<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="public/cms/admin/fragments/main">

<body class="skin-blue">
    <div layout:fragment="content">
        <!-- header logo: style can be found in header.less -->
        <div class="wrapper row-offcanvas row-offcanvas-left">

            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        Teams
                        <small>Control panel</small>
                        <small style="color: blue;" th:text="${sucmsg}" />
                        <small style="color: red;" th:text="${errmsg}" />
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li class="active">Teams</li>
                    </ol>
                </section>

                <!-- Main content -->
                <section class="content">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- general form elements -->
                            <div class="box box-primary">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Update Data Member</h3>
                                </div>
                                <!-- /.box-header -->
                                <!-- form start -->
                                <form th:each="item : ${list_data}" th:action="@{/admin/team/update}" method="POST" class="form-group" enctype="multipart/form-data">
                                    <div class="box-body">
                                        <div class="form-group">
                                            <label for="namaKaryawan">Employee Name</label>
                                            <input th:value="${list_data.getEmployeeName}" type="text" class="form-control" id="namaKaryawan" name="namaKaryawanTxt" placeholder="Tulis nama karywan" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="namaKaryawan">Email</label>
                                            <input type="email" th:value="${list_data.email}" class="form-control" id="" name="email" placeholder="Email" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="position">Potition</label>
                                            <input th:value="${list_data.getPotition}" type="text" class="form-control" id="position" name="positionTxt" placeholder="Tulis nama jabatan" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="biodata">Bio</label>
                                            <textarea th:text="${list_data.getBio}" class="form-control" placeholder="Place some text here" id="biodataEdit" name="bioTxt"
                                                style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;" required></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="">Address</label>
                                            <textarea class="form-control" placeholder="Address" id="address" name="address" >[[${list_data.address}]]</textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="position">Website</label>
                                            <input type="text" class="form-control" th:value="${list_data.website}" id="website" name="website" placeholder="Website">
                                        </div>
                                        <div class="form-group">
                                            <label for="position">Twitter</label>
                                            <input type="text" class="form-control" th:value="${list_data.twitter}" id="" name="twitter" placeholder="Twitter">
                                        </div>
                                        <div class="form-group">
                                            <label for="position">Instagram</label>
                                            <input type="text" class="form-control" th:value="${list_data.instagram}" id="" name="instagram" placeholder="Instagram">
                                        </div>
                                        <div class="form-group">
                                            <label for="position">Facebook</label>
                                            <input type="text" class="form-control" th:value="${list_data.facebook}" id="Facebook" name="facebook" placeholder="Facebook">
                                        </div>
                                        <div class="form-group">
                                            <label for="pilihAvatar">Photo</label>
                                            <input type="file" id="pilihAvatar" name="pilihAvatarInp">
                                            <img class="img img-responsive" style="width: 20%;" th:src="@{'/upload'+${item.getAvatarPath}}" />
                                        </div>
                                    </div>
                                    <!-- /.box-body -->

                                    <div class="box-footer">
                                        <input th:value="${list_data.getId}" name="idTxt" type="hidden" required>
                                        <button type="submit" class="btn btn-primary">Update Employee</button>
                                    </div>
                                </form>
                            </div>
                            <!-- /.box -->
                        </div>
                    </div>
                </section><!-- /.content -->
            </aside><!-- /.right-side -->
        </div><!-- ./wrapper -->
    </div>
</body>

</html>