<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="public/front/fragments/main">

<body>
    <div layout:fragment="content">
        <!-- ======= Header ======= -->
        <header id="header" class="fixed-top d-flex align-items-centers">
            <div class="container d-flex align-items-center">

                <div class="logo mr-auto">
                    <a href="index.html"><img th:src="@{/img/logo/mobiwin_logo_c.png}" height="100%" width="80px"
                            alt=""></a>
                </div>

                <nav class="nav-menu d-none d-lg-block">
                    <ul>
                        <li><a th:href="@{/#home}">Home</a></li>
                        <li><a th:href="@{/#about}">About</a></li>
                        <li><a th:href="@{/#services}">Services</a></li>
                        <li><a th:href="@{/#portfolio}">Portfolio</a></li>
                        <li><a th:href="@{/#testimonials}">Testimonials</a></li>
                        <li><a th:href="@{/#client}">Client</a></li>
                        <li><a th:href="@{/#carrer}">career</a></li>
                        <li><a th:href="@{/#team}">Team</a></li>
                        <li><a th:href="@{/#contact}">Contact</a></li>

                    </ul>
                </nav><!-- .nav-menu -->

            </div>
        </header><!-- End Header -->

        <main id="main">
            <!-- ======= Breadcrumbs ======= -->
            <section class="breadcrumbs">
                <div class="container">

                    <div class="d-flex justify-content-between align-items-center">
                        <h2>New Candidate</h2>
                        <ol>
                            <li><a th:href="@{/}">Home</a></li>
                            <li>New Candidate</li>
                        </ol>
                    </div>

                </div>
            </section><!-- End Breadcrumbs -->

            <section class="inner-page">
                <div class="container" >
                    <div class="col-xs-12 col-md-12">
                        <div th:if="${message != null}">
                            <p class="alert alert-success" th:text=${message}></p>
                        </div>
                        <form th:action="@{/candidate/save/{id}(id = ${item.id})}" method="POST" enctype="multipart/form-data" th:each="item:${candidate}">
                            <input type="hidden" name="id_career" th:value="${item.id}">
                            <div class="form-group">
                                <label for="">Your Name</label>
                                <input type="text" name="candidate_name" placeholder="Your Name" class="form-control" id="">
                            </div>
                            <div class="form-group">
                                <label for="">Your Email</label>
                                <input type="email" name="candidate_email" placeholder="Your Email" class="form-control" id="">
                            </div>
                            <div class="form-group">
                                <label for="">Skill</label>
                                <textarea placeholder="Your Skill" class="form-control" name="candidate_skill"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="">Description</label>
                                <textarea placeholder="Place some text here" class="form-control" name="candidate_desc"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="">CV</label>
                                <input type="file" name="candidate_cv_path" class="form-control" id="">
                            </div>
                            <button class="btn btn-info"><i class="fa fa-save"></i> Submit</button>
                        </form>
                    </div>
                </div>
            </section>
        </main><!-- End #main -->
    </div>
    
</body>

</html>