<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="public/front/fragments/main">

<body>
    <div layout:fragment="content">
        <!-- ======= Header ======= -->
        <header id="header" class="fixed-top d-flex align-items-centers">
            <div class="container d-flex align-items-center">

                <div class="logo mr-auto">
                    <a href="index.html"><img th:src="@{/img/logo/mobiwin_logo_c.png}" height="100%" width="80px"
                            alt=""></a>
                </div>

                <nav class="nav-menu d-none d-lg-block">
                    <ul>
                        <li><a th:href="@{/#home}">Home</a></li>
                        <li><a th:href="@{/#about}">About</a></li>
                        <li><a th:href="@{/#services}">Services</a></li>
                        <li><a th:href="@{/#portfolio}">Portfolio</a></li>
                        <li><a th:href="@{/#testimonials}">Testimonials</a></li>
                        <li><a th:href="@{/#client}">Client</a></li>
                        <li><a th:href="@{/#carrer}">career</a></li>
                        <li><a th:href="@{/#team}">Team</a></li>
                        <li><a th:href="@{/#contact}">Contact</a></li>

                    </ul>
                </nav><!-- .nav-menu -->

            </div>
        </header><!-- End Header -->

        <main id="main">
            <!-- ======= Breadcrumbs ======= -->
            <section class="breadcrumbs">
                <div class="container">

                    <div class="d-flex justify-content-between align-items-center">
                        <h2>Detail Career</h2>
                        <ol>
                            <li><a th:href="@{/}">Home</a></li>
                            <li>Detail Career</li>
                        </ol>
                    </div>

                </div>
            </section><!-- End Breadcrumbs -->

            <section class="inner-page">
                <div class="container" th:each="item:${career}">
                    <div class="col-xs-12 col-md-12">
                        <div class="panel panel-default job-ads-content">
                            <div class="panel-body">
                                <h1 class="clear-top bold" th:text="${item.jobTitle}"></h1>
                                <hr>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 col-md-4">
                                        <h4>
                                            <small>
                                                Potition:
                                            </small>
                                            <br>
                                            <p th:text="${item.potition}"></p>
                                        </h4>
                                    </div>
                                </div>
                                <hr>
                                <h3 class="clear-top">
                                    <i class="fa fa-fw fa-briefcase text-muted"></i>
                                    Description
                                </h3>
                                <div class="job_desc" th:utext="${item.potitionDesc}"></div>
                                <div class="clearfix"></div>
                                <h3>
                                    <i class="fa fa-fw fa-file-text text-muted"></i>
                                    Requerement
                                </h3>
                                <div class="job_req" th:utext="${item.requirement}"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="d-flex justify-content-center">
                            <a th:href="@{/candidate/new/{id}(id = ${item.id})}" class="btn btn-info">   
                               <i class="fa fa-tasks"></i> apply for a job
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        </main><!-- End #main -->
    </div>
    
</body>

</html>