<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="public/front/fragments/main">

<body>
  <div layout:fragment="content">
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center  header-transparent ">
      <div class="container d-flex align-items-center">

        <div class="logo mr-auto">
          <a href="index.html"><img th:src="@{/img/logo/mobiwin_logo_c.png}" height="100%" width="80px" alt=""></a>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>

        <nav class="nav-menu d-none d-lg-block">
          <ul>
            <li class="active"><a href="#home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#portfolio">Portfolio</a></li>
            <li><a href="#testimonials">Testimonials</a></li>
            <li><a href="#client">Client</a></li>
            <li><a href="#career">Career</a></li>
            <li><a href="#team">Team</a></li>
            <li><a href="#contact">Contact</a></li>

          </ul>
        </nav><!-- .nav-menu -->

      </div>
    </header><!-- End Header -->
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex flex-column justify-content-end align-items-center">
      <div id="demo" class="carousel slide" data-ride="carousel" >

        <!-- The slideshow -->
        <div class="carousel-inner">
          <div class="carousel-item" th:each="itemSlider:${carousel}" th:classappend="${itemSlider.orders} == 1 ? active : nonActive">
            <img th:src="@{${'/upload'+ itemSlider.carouselImage}}" alt="Los Angeles" width="1100" height="500">
            <div class="carousel-caption">
              <h2>First slide label</h2>
              <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div>
          </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
          <span class="fa fa-chevron-left" style="font-size:xxx-large !important;"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
          <span class="fa fa-chevron-right" style="font-size:xxx-large !important;"></span>
        </a>
      </div>
    </section><!-- End Hero -->
    <main id="main">

      <!-- ======= About Section ======= -->
      <section id="about" class="about">
        <div class="container" th:each="itemAbout:${about}">

          <div class="section-title" data-aos="zoom-out">
            <h2>About</h2>
            <p>Who we are</p>
          </div>

          <div class="row content" data-aos="fade-up">
            <div class="col-lg-6 pt-4 pt-lg-0">
              <p th:text="${itemAbout.summary}"></p>
              <a th:href="@{/detail/about/1}" class="btn-learn-more">Learn More</a>
            </div>
          </div>

        </div>
      </section><!-- End About Section -->

      <!-- ======= Services Section ======= -->
      <section id="services" class="services">
        <div class="container">

          <div class="section-title aos-init aos-animate" data-aos="fade-up">
            <h2>Services</h2>
            <p>Our Services</p>
          </div>

          <div class="row">
            <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0" th:each="itemService:${service}">
              <div class="icon-box aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                <div class="icon"><i th:class="${itemService.iconPath}"></i></div>
                <h4 class="title"><a th:href="@{/detail/service/{id}(id = ${itemService.id})}"
                    th:text="${itemService.title}"></a></h4>
                <p class="description" th:text="${itemService.shortWording}"></p>
              </div>
            </div>

          </div>

        </div>
      </section><!-- End Services Section -->

      <!-- ======= Portfolio Section ======= -->
      <section id="portfolio" class="portfolio">
        <div class="container">

          <div class="section-title" data-aos="zoom-out">
            <h2>Portfolio</h2>
            <p>What we've done</p>
          </div>

          <ul id="portfolio-flters" class="d-flex justify-content-end" data-aos="fade-up">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".app">App</li>
            <li data-filter=".card">Card</li>
            <li data-filter=".web">Web</li>
          </ul>

          <div class="row portfolio-container" data-aos="fade-up">
            <div class="col-lg-4 col-md-6 portfolio-item" th:each="itemProject:${project}"
              th:classappend="${itemProject.kind}">
              <div class="portfolio-img">
                <img th:src="@{${'/upload'+ itemProject.previewPath}}" class="img-fluid" alt=""
                  style="width: 250px !important; height:250px !important;"></div>
              <div class="portfolio-info">
                <h4 th:text="${itemProject.projectTitle}"></h4>
                <p th:text="${itemProject.kind}"></p>
                <a th:href="@{${'/upload'+ itemProject.previewPath}}" data-gall="portfolioGallery"
                  class="venobox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
                <a th:href="@{/detail/portofolio/{id}(id = ${itemProject.id})}" class="details-link"
                  title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

        </div>
      </section><!-- End Portfolio Section -->

      <!-- ======= Testimonials Section ======= -->
      <section id="testimonials" class="testimonials">
        <div class="container">

          <div class="section-title" data-aos="zoom-out">
            <h2>Testimonials</h2>
            <p>What they are saying about us</p>
          </div>

          <div class="owl-carousel testimonials-carousel" data-aos="fade-up" th:each="itemTestimony:${testimony}">

            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                <p th:text="${itemTestimony.testimonyText}"></p>
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img th:src="@{${'/upload'+ itemTestimony.userAvaPath}}" class="testimonial-img" alt="">
              <h3 th:text="${itemTestimony.nameUser}"></h3>
              <h4 th:text="${itemTestimony.company}"></h4>
            </div>

          </div>

        </div>
      </section><!-- End Testimonials Section -->
      <!-- ======= Client Section ======= -->
      <section id="client" class="client">
        <div class="container aos-init aos-animate" data-aos="zoom-in">
          <div class="container">
            <div class="section-title" data-aos="zoom-out">
              <h2 class="text-white">Client</h2>
              <p>Our Client</p>
            </div>
            <section class="customer-logos slider" th:each="itemClient:${client}">
              <div class="slide"><img th:src="@{${'/upload'+ itemClient.previewPath}}"></div>
            </section>
          </div>
        </div>
      </section>
      <!-- Carrer -->
      <!-- Team -->
      <section id="career" class="pb-5">
        <div class="container">
          <div class="section-title" data-aos="zoom-out">
            <h2>Career</h2>
            <p>Our Career</p>
          </div>
          <div class="row" >
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4" th:each="itemCareer:${career}">
              <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                <div class="mainflip">
                  <div class="frontside">
                    <div class="card">
                      <div class="card-body text-center">
                        <p><img class=" img-fluid" th:src="@{${'/upload'+ itemCareer.iconOf}}" alt="card image"></p>
                        <h4 class="card-title" th:text="${itemCareer.jobTitle}"></h4>
                        <p class="card-text" th:text="${itemCareer.potition}"></p>
                        <small th:text="${#calendars.format(itemCareer.createdAt,'dd MMMM yyyy')}"></small>
                              </div>
                          </div>
                      </div>
                      <div class="backside">
                          <div class="card">
                              <div class="card-body text-center mt-4">
                                  <h4 class="card-title" th:text="${itemCareer.jobTitle}"></h4>
                                  <p class="card-text">Untuk detail lebih lengkapnya silahkan klik button more di bawah ini.</p>
                                  <a th:href="@{/detail/career/{id}(id=${itemCareer.id})}" class="btn btn-primary">More</a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- ./Team member -->
      </div>
  </div>
</section>
<!-- Team -->
      <!-- ======= Team Section ======= -->
      <section id="team" class="team">
        <div class="container">

          <div class="section-title" data-aos="zoom-out">
            <h2>Team</h2>
            <p>Our Hardworking Team</p>
          </div>

          <div class="row" th:each="itemTeam:${team}">

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
              <div class="member" data-aos="fade-up" data-aos-delay="300">
                <div class="member-img">
                  <a th:href="@{/detail/team/{id}(id=${itemTeam.id})}"><img th:src="@{${'/upload'+ itemTeam.avatarPath}}" class="img-fluid" alt=""></a>
                  <div class="social">
                    <a href=""><i class="icofont-twitter"></i></a>
                    <a href=""><i class="icofont-facebook"></i></a>
                    <a href=""><i class="icofont-instagram"></i></a>
                    <a href=""><i class="fa fa-globe"></i></a>
                  </div>
                </div>
                <div class="member-info">
                  <h4 th:text="${itemTeam.employeeName}"></h4>
                  <span th:text="${itemTeam.potition}"></span>
                </div>
              </div>
            </div>

          </div>

        </div>
      </section><!-- End Team Section -->
      <!-- ======= Contact Section ======= -->
      <section id="contact" class="contact">
        <div class="container">
          <div class="section-title">
            <h2>Contact</h2>
            <p>Contact Us</p>
          </div>

          <div class="row mt-5">

            <div class="col-lg-4" data-aos="fade-right">
              <div class="info">
                <div class="address">
                  <i class="icofont-google-map"></i>
                  <h4>Location:</h4>
                  <p>A108 Adam Street, New York, NY 535022</p>
                </div>

                <div class="email">
                  <i class="icofont-envelope"></i>
                  <h4>Email:</h4>
                  <p>info@example.com</p>
                </div>

                <div class="phone">
                  <i class="icofont-phone"></i>
                  <h4>Call:</h4>
                  <p>+1 5589 55488 55s</p>
                </div>

              </div>

            </div>

            <div class="col-lg-8 mt-5 mt-lg-0" data-aos="fade-left">
              <div th:if="${message != null}">
                <p class="alert alert-success" th:text=${message}></p>
              </div>
              <form th:action="@{/contact/save}" method="post" role="form">
                <div class="form-row">
                  <div class="col-md-6 form-group">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"/>
                  </div>
                  <div class="col-md-6 form-group">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" />
                  </div>
                </div>
                <div class="form-group">
                  <select name="departement" id="" class="form-control">
                    <option selected>Select Departement</option>
                    <option value="business inquery">Business Inquiry</option>
                    <option value="it support">IT Support</option>
                    <option value="vas support">Vas Support</option>
                  </select>
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="pesan" rows="5" placeholder="Message"></textarea>
                </div>
                <div class="text-center"><button type="submit" class="btn btn-info">Send Message</button></div>
              </form>

            </div>
            <div class="col-lg-12 mt-5 mt-lg-5" data-aos="fade-left">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3965.8861175947063!2d106.71914131402814!3d-6.278699995455576!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69fa9e453e921b%3A0xdca2ef0454dbe5af!2sBintaro%20Trade%20Center!5e0!3m2!1sid!2sid!4v1610607722246!5m2!1sid!2sid"
                width="1100" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                tabindex="0"></iframe>
            </div>
          </div>

        </div>
      </section><!-- End Contact Section -->

    </main><!-- End #main -->
  </div>
</body>

</html>